* {
    margin: 0;
    padding: 0;
}

#fixed {
    position: sticky;
    top: 0px;
}





#line {
    margin-left: 200px;
}

#move {
    margin-left: 510px;
}

.image {
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.281);
    padding: 0 10px;
    margin-right: 30px;
    width: 260px;
    margin-bottom: 15px;
    
}

.image:hover{
    transform:translate(0,-6px)

}

#image-1 {
    padding: 0 10px;
    padding-top: 15px;
}

#image-2 {
    padding: 0 10px;
    padding-top: 15px;
}

#image-3 {
    padding: 0 10px;
    padding-top: 15px;
}

#image-4 {
    padding: 0 10px;
    padding-top: 15px;
}

#style-1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-top: 120px;
}

#star-1 {
    color: rgb(236, 63, 0);
    margin-left: 10px;
    margin: 0 10px;font-weight: 200;
}

#price {
    margin-left: 10px;
}

#print-1 {
    padding: 10px 15px;
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.281);
    margin-right: 30px;
    margin-bottom: 15px;
    width: 260px;
}

#print-1:hover {
    transform:translate(0,-6px)
}

#head {
    margin: 0px 0px;
    margin-top: 10px;
}

#sale {
    margin: 0px 0px;
    color: rgb(236, 63, 0);
}

#write {
    font-weight: 700;
    font-size: 20px;
    margin-left: 110px;
    margin-top: 90px;
}

.sperate {
    width: 70px;
    height: 6px;
    background-color: rgb(255, 0, 0);
    margin-left: 130px;
    border-radius: 20px ;
    color: rgb(255, 0, 0);
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cut{
    margin-left: 40%;
    margin-top: 10%;
}

.join {
    margin-left: 110px;
    margin-top: 90px;
}

.tik {
    margin-left: 326%;
    margin-top: 52%;
}

.black {
    
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;

}
#unstyled {
    font-size: small;
}

.white {
    background-color: black;
    height: 260px;

}

.divide {
    width: 1200px;
    height: 3px;
    background-color: white;
    margin-left: 70px;
    
}

.first {
    width: 300px;
    margin-left: 97px;
    color: white;
    margin-top: 80px;
}

.second {
    margin-left: 70px;
    color: white;
    margin-top: 80px;
}

.third {
    margin-left: 120px;
    color: white;
    margin-top: 80px;
}

.fourth {
    margin-left: 120px;
    color: white;
    margin-top: 80px;
}

#logo-1 {
    margin-left: 70px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-color: white;
}



.benifits {
    font-size: small;
    text-align: center;
}

#follow {
    font-size: medium;
    font-weight: 700;
}

.app {
    font-size: medium;
}

#download {
    font-size: small;
}

.right {
    text-align: center;
    font-size: small;
    color: white;
}

.handle {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 102px;
}

#handle-1 {
    padding: 8px 15px;
    border: 1px solid rgb(236, 63, 0);
    margin: 0 10px;
}

#handle-2 {
    padding: 8px 15px;
    border: 1px solid rgb(236, 63, 0);
    margin: 0 10px;
}

#handle-3 {
    padding: 8px 15px;
    border: 1px solid rgb(236, 63, 0);
    margin: 0 10px;
}

#handle-4 {
    padding: 8px 15px;
    border: 1px solid rgb(236, 63, 0);
    margin: 0 10px;
}

#handle-5 {
    padding: 8px 12px;
    border: 1px solid rgb(236, 63, 0);
    margin: 0 10px;
}

#handle-1:hover {
    background-color: rgb(236, 63, 0);
}

#handle-2:hover {
    background-color: rgb(236, 63, 0);
}

#handle-3:hover {
    background-color: rgb(236, 63, 0);
}

#handle-4:hover {
    background-color: rgb(236, 63, 0);
}

#handle-5:hover {
    background-color: rgb(236, 63, 0);
}



@media only screen and (min-width:400px) and (max-width:900px){

    .gather {
        width: 400px;
    }

 

    #line {
        margin-left: 40px;
    }


    #fixed {
        margin-right: 20px;
    }


    #move {
        margin-left: 50px;
    }

    .create-1 {
        margin-left: 90px;
    }

    .link {
        margin-left: 15px;
        width: 400px;
    }

    .moved {
        margin-left: 60px;
    }
    
    .white {
        height: 620px;
        width: 410px;
    }

    .black {
        margin-left: 0px;
    }

    .divide {
        width: 300px;
        margin-left: 40px;
        margin-left: 55px;
    }

    #center {
        margin-left: 160px;
    }

    .seperate {
        margin-left: 180px;
    }

    #write {
        margin-left: 150px;
    }

    .sperate {
        margin-left: 170px;
    }

    .third {
        margin-left: 60px;
    }

    .right {
        margin-right: 10px;
    }


    .handle {
        margin-left: 60px;
    }

    .products{
        margin-left: 80px;
        
    }
}