* {
    margin: 0;
    padding: 0;
}

#move {
    margin-left: 510px;
}

#line {
    margin-left: 200px;
}

#image-1 {
    width: 400px;
    height: 400px;
}

.image {
    margin-left: 310px;
    margin-top: 80px;
}

.lite {
    margin-left: 310px;
    padding-top: 10px;
}

#home {
    font-size: small;
}

#home-2 {
    font-weight: 700;
    padding: 10px 0;
}

.home-3 {
    margin-top: 35px;
}

#home-3 {
    border-radius: 20px;
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgb(236, 63, 0);
    border: rgb(236, 63, 0);
    margin-left: 20px;
}

#click {
    width: 50px;
}

#home-3:hover {
    background-color: rgba(133, 49, 1, 0.897);
    
}

#home-4 {
    font-size: large;
    font-weight: 800;
    padding-top: 35px;
}

#home-5 {
    font-size: small;
    padding-top: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home {
    margin-left: 50px;
    margin-top: 110px;
}


.black {
    
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;

}
#unstyled {
    font-size: small;
}

.white {
    background-color: black;
    height: 260px;

}

.divide {
    width: 1200px;
    height: 3px;
    background-color: white;
    margin-left: 70px;
    
}

.first {
    width: 300px;
    margin-left: 97px;
    color: white;
    margin-top: 80px;
}

.second {
    margin-left: 70px;
    color: white;
    margin-top: 80px;
}

.third {
    margin-left: 120px;
    color: white;
    margin-top: 80px;
}

.fourth {
    margin-left: 120px;
    color: white;
    margin-top: 80px;
}

#logo-1 {
    margin-left: 70px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-color: white;
}



.benifits {
    font-size: small;
    text-align: center;
}

#follow {
    font-size: medium;
    font-weight: 700;
}

.app {
    font-size: medium;
}

#download {
    font-size: small;
}

.right {
    text-align: center;
    font-size: small;
    color: white;
}

.relate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 110px;
}

#relate {
    font-weight: 900;
    font-size: 23px;
    margin-top: 300px;
    margin-left: 110px;
}

.view {
    display: flex;

}

#more {
    margin-top: 301px;
    margin-left: 850px;
}

#print-1 {
    padding: 10px 15px;
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.281);
    margin-right: 30px;
    margin-bottom: 15px;
    width: 260px;
}

#print-1:hover {
    transform:translate(0,-6px)
}

#head {
    margin: 0px 0px;
    margin-top: 10px;
}

#sale {
    margin: 0px 0px;
    color: rgb(236, 63, 0);
}


@media only screen and (min-width:400px) and (max-width:900px){

    .gather {
        width: 400px;
    }

    #line {
        margin-left: 40px;
    }


    #fixed {
        margin-right: 20px;
    }


    #move {
        margin-left: 50px;
    }

    .image {
        margin-left: 20px;
        margin-top: 150px;
    }
    
    .lite {
        margin-left: 20px;
        padding-top: 10px;
    }

    #image-1 {
        width: 370px;

    }

    #lite-1 {
        width: 88px;
    }

    #lite-2 {
        width: 90px;
    }

    #more {
        margin-left: 90px;
    }

    #relate {
        margin-left: 30px;
    }

    .relate {
        margin-left: 80px;
    }

    .white {
        height: 620px;
        width: 410px;
    }

    .black {
        margin-left: 0px;
    }

    .divide {
        width: 300px;
        margin-left: 40px;
        margin-left: 55px;
    }

    #center {
        margin-left: 160px;
    }

    .seperate {
        margin-left: 180px;
    }

    #write {
        margin-left: 150px;
    }

    .sperate {
        margin-left: 170px;
    }

    .third {
        margin-left: 60px;
    }

    .right {
        margin-right: 10px;
    }
}